.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-text-1 {
  margin: 33px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 37px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 437px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 18px 14px;
}

.u-section-1 .u-image-1 {
  height: 247px;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-text-2 {
  margin: 20px 14px 0;
}

.u-section-1 .u-text-3 {
  margin: 10px 7px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 18px 14px;
}

.u-section-1 .u-image-2 {
  height: 247px;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-text-4 {
  margin: 20px 14px 0;
}

.u-section-1 .u-text-5 {
  margin: 10px 7px 0;
}

.u-section-1 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-5 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-6 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 18px 14px;
}

.u-section-1 .u-image-3 {
  height: 247px;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-text-6 {
  margin: 20px 14px 0;
}

.u-section-1 .u-text-7 {
  margin: 10px 7px 0;
}

.u-section-1 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-7 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-8 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-9 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 18px 14px;
}

.u-section-1 .u-image-4 {
  height: 247px;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-text-8 {
  margin: 20px 14px 0;
}

.u-section-1 .u-text-9 {
  margin: 10px 7px 0;
}

.u-section-1 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-10 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-11 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-12 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 396px;
  }

  .u-section-1 .u-image-1 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-bottom: 37px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-image-1 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 515px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 515px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 515px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 515px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 317px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 317px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 317px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 317px;
    margin-right: initial;
    margin-left: initial;
  }
}